console.log('SEJW');
$(".user-index").html("<%= escape_javascript(render 'index') %>");
$(".alert").remove();
$("#info").html('<div class="alert alert-success">Pomyślnie dodano użytkownika</div>');
$("#user-modal").modal("hide");
